<html>

<head>
    <title> ToDo </title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
    <h2>Todo List</h2>
    <form method="post" action="/">
       
        <input type="text" name="todo" placeholder="" />
        <button type="submit"> Add Task </button>
       
        
    </form>

    {{#todos}}
    <div class="mark-as-complete-button">
    <form class="todo-form" method="post" action="/{{.}}">
        <button type="submit"> Complete </button>
        <div>{{.}}</div>
        </div>

    </form>

    {{/todos}}

    <div class="completed">
        <h3>Completed Tasks:</h3>
        {{#complete}}
        <div>{{.}}</div>
        {{/complete}}
    </div>


</body>

</html>